<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dao.UserRoleMapper">

<resultMap type="com.springboot.pojo.Role" id="role">
   <id column="id" property="id" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
   <id column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
   <id column="memo" property="memo" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>

<select id="findByUserName" resultMap="role">
	select r.id,r.name,r.memo from t_role r
	left join t_user_role ur on(r.id = ur.rid) 
	left join t_user u on(u.id = ur.user_id)
	where u.username = #{userName}
</select>
</mapper>