<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dao.UserPermissionMapper">

<resultMap type="com.springboot.pojo.Permission" id="permission">
   <id column="id" property="id" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
   <id column="url" property="url" javaType="java.lang.String" jdbcType="VARCHAR"/>
   <id column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>

<select id="findByUserName" resultMap="permission">
	select p.id,p.url,p.name from t_role r
	left join t_user_role ur on(r.id = ur.rid) 
	left join t_user u on(u.id = ur.user_id)
	left join t_role_permission rp on(rp.rid = r.id) 
	left join t_permission p on(p.id = rp.pid ) 
	where u.username = #{userName}
</select>
</mapper>