##Licensed to the Apache Software Foundation (ASF) under one or more
##contributor license agreements.  See the NOTICE file distributed with
##this work for additional information regarding copyright ownership.
##The ASF licenses this file to You under the Apache License, Version 2.0
##(the "License"); you may not use this file except in compliance with
##the License.  You may obtain a copy of the License at
##
##http://www.apache.org/licenses/LICENSE-2.0
##
##Unless required by applicable law or agreed to in writing, software
##distributed under the License is distributed on an "AS IS" BASIS,
##WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##See the License for the specific language governing permissions and
##limitations under the License.
#set($layout = "/templates/sysinfo/layout/default.vm")
<div class="ico_btn">
    <a href="../../../versions"><img src="$rootContextPath.getURI("images/ico_back.png")" width="12" height="12"/><span
            class="ico_font">#springMessageText("back", "back")</span></a>
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th>#springMessageText("applications", "applications"): <input type="text" onkeyup="searchTable('table_o', 0, this.value);"
                                              onclick="searchTable('table_o', 0, this.value);"/>&nbsp;<img
                src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
    </tr>
    #foreach($app in $applications)
        <tr>
            <td>
                #if($app) $app
                #else
                <无应用名>
                #end
            </td>
        </tr>
    #end
</table>
<div class="page">#springMessageText("page.total", "page.total")$applications.size()#springMessageText("page.records", "page.records")</div>
